.block  {
    width: 100px;
    height: 150px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    border-left: 10px dotted #d0d1fd;
    background-color: #eeeff2;
    float: left;
}
.A  {
    background-color: #fffd38;
}
.F  {
    margin-top: 300px;
    margin-left: 120px;
}